@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/Montserrat/static/Montserrat-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(/Montserrat/static/Montserrat-Black.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url(/Montserrat/static/Montserrat-BlackItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/Montserrat/static/Montserrat-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(/Montserrat/static/Montserrat-BoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(/Montserrat/static/Montserrat-ExtraBold.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url(/Montserrat/static/Montserrat-ExtraBoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(/Montserrat/static/Montserrat-ExtraLight.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url(/Montserrat/static/Montserrat-ExtraLightItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: url(/Montserrat/static/Montserrat-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(/Montserrat/static/Montserrat-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url(/Montserrat/static/Montserrat-LightItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(/Montserrat/static/Montserrat-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url(/Montserrat/static/Montserrat-MediumItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(/Montserrat/static/Montserrat-SemiBold.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url(/Montserrat/static/Montserrat-SemiBoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url(/Montserrat/static/Montserrat-Thin.ttf) format('ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url(/Montserrat/static/Montserrat-ThinItalic.ttf) format('ttf');
}
*{
	box-sizing:border-box;
}

:root {
	--wgg-green-light: #88997A;
	--wgg-green-md: #5C7b6C;
	--wgg-blue-light: #bcc8d0;
	--wgg-red: #9b4b15;
	--wgg-brown: #915324;
	--wgg-brown-light: #D1C0B6;
}

body{
	margin:0;
	padding:0;
	background-color: #34495e;
	/* display:flex;
	align-items:center;
	justify-content: center; */
	height:100vh;
	overflow:hidden;
	font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.wheel-container{
	/* width:500px;
	height:500px; */
	background-color: var(--wgg-blue-light);
	border-radius:50%;
	/* border:15px solid var(--wgg-blue-light); */
	position: relative;
	overflow: hidden;
	/* transition: transform 5s; */
}

.arrow{
	position: absolute;
	z-index: 1000;
	width: 10vmin;
	height: 10vmin;
	/* background-color: #445136; */
	clip-path: polygon(0 0, 52% 100%, 100% 0);
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}